{% assign urlnohtml = page.url | remove: ".html" %}
<div class="page-backlinks">
  {% unless page.url == '/' %}
    <h4 class="backlink-title">Links to this note:</h4>
  {% endunless %}
  <ul>
    {% for note in site.pages %}
        {% if note.url != page.url %}
          {% if note.content contains urlnohtml or note.content contains page.url %}
              {% unless page.url == '/' %}
                <li>
                  {% if note.title %}
                    <a href="{{ note.url }}">{{ note.title }}</a>
                  {% else %}
                    <a href="{{ note.url }}">{{ note.name }}</a>
                  {% endif %}
                </li>
              {% endunless %}
          {% endif %}
        {% endif %}
    {% endfor %}
 </ul>
</div>