{% assign notes = site.pages | sort: 'cdate' | reverse %}
{% assign noessays = 0 %}
<h2>Essays</h2>
<p>Long-form articles that I make, for reader consumption.</p>
<ul>
{% for note in notes %}
    {% if note.type == "essay" %}
    {% case note.state %}
    {% when "growing" %}
    <li class="dotgrowing">
    {% when "grown" %}
    <li class="dotgrown">
    {% when "final" %}
    <li class="dotdone">
    {% endcase %}
    <p><a href="{{ note.url }}">{{ note.title }}</a><br><span class="type-indicator">{{ note.type | upcase }}</span></p>
    </li>
        {% assign noessays = noessays | plus: 1 %}
    {% endif %}
    {% if noessays == 10 %}
        {% break %}
    {% endif %}
{% endfor %}
</ul>