<meta charset="utf-8">
<meta name="keywords" content="notes, complex99, spicata99, spicata, mint fresh notes">
<meta name="author" content="spicata mentha">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% else %}
    <meta name="description" content="A hodge-podge collection of notes, ideas, rambles, essays, resources, and lot of other stuff, all maintained by M.spicata">
{% endif %}

{% if page.latex %}
    {% include jax.html %}
{% endif %}

<link rel="stylesheet" href="/assets/css/{{ layout.style }}.css">
