body {
    margin: auto;
    width: 500px;
    height: fit-content;
    font-family: sans-serif;
    background-color: #24273a;
    color: #cad3f5;
    margin: auto;
    font-size: 16px;
    max-width: 1000px;
    line-height: 1.5;
    padding: 1em;
    overflow-wrap: break-word;
}

html {
    align-items: center;
    display: flex;
    height: 100vh;
}

a {
    color: #f4dbd6;
}