html {
    background-color: #dad1bc;
    color: #211926;
    height: fit-content;
    font-family: sans-serif;
    padding: 10px;
    font-size: 18px;
}

body {
    max-width: 700px;
    margin: 0px auto;
}

a {
    color: #211926;
}

a:hover {
    color: #b19869;
}

.no-space {
    margin: 0;
}

article {
    background-color: #e2e0d2;
    border: 3px solid #211926;
    border-top: 1.5em solid #211926;
    padding: 1em;
}