body {
    font-family: monospace;
    background-color: #24273a;
    color: #cad3f5;
    margin: auto;
    font-size: 16px;
    max-width: 700px;
    line-height: 1.5;
    padding: 1em;
    overflow-wrap: break-word;
}

a {
    color: #f4dbd6;
}

em {
    color: #ed8796;
}

strong {
    color: #eed49f;
}

del {
    color: #8087a2;
}

blockquote {
    margin: 1em 0;
    padding: 5px 1em;
    border-radius: 3px;
    background-color: #1e2030;
}

pre {
    margin: 1em 0;
    padding: 5px 1em;
    border-radius: 3px;
    background-color: #1e2030;   
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
    margin: 1em 0;
    padding: 2px;
    border-radius: 3px;
    background-color: #1e2030;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #494d64;
    border-radius: 3px
}

th {
    border: 3px solid #494d64;
    padding: 2px 5px;
}

td {
    border: 3px dotted #494d64;
    padding: 2px 5px;
}

hr {
    color: #494d64;
    border-top: 2px solid;
}

.description {
    font-style: italic;
}

.description > p {
    margin-top: 0px;
}

h1 {
    margin-bottom: 0px;
}

.descriptionbar {
    border-top: 5px solid;
}

.box {
    border: 3px solid #f4dbd6;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
    border-radius: 10px;
    color: #24273a !important;
    background-color: #f4dbd6;
}

a.boxa {
    color: #24273a !important;
}

.datetop {
    margin-top: 0px;
    margin-bottom: 0px;
}