body {
  font-family: sans-serif;
  padding: 4em;
  background-color: #1d201e;
  color: #f5f5f5;
}

h1,h2,h3,h4,h5 {
 color: #8DBF9B;
}

a {
  color: #8DBF9B;
}

a:visited {
  color: #e6dec1;
}

.footnote, .reversefootnote {
    background-color: #8DBF9B;
    color: #1d201e;
    padding: 0 0.5em;
}
