html {
    background-color: #24273a;
    color: #cad3f5;
    height: fit-content;
    font-family: sans-serif;
    padding: 10px;
    font-size: 18px;
}

body {
    max-width: 700px;
    margin: 0px auto;
}

a {
    color: #cad3f5;
}

.no-space {
    margin: 0;
}