@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

html { font-size: 24px; }
body { 
    background-color: #fdf6e3; 
    line-height: 1.3em; 
    margin: 0px; 
    padding: 0px;
    font-family: 'Playpen Sans', cursive;
    overflow-wrap: break-word;
}
article {
    background-color: #fdf6e3;
    color: #657b83; 
    max-width: 40em;
    margin: 0px auto 30px;
    padding: 0px calc(30px + 1em) 30px;
    font-family: 'Playpen Sans', cursive;
    overflow-wrap: break-word;
}

.navBar { 
    background-color: #657b83; 
    color: #fdf6e3;
    padding: 0.5ch 0px;
}
.navText {
    max-width: 40em;
    margin: 0px auto;
    padding: 10px calc(30px + 1em) 10px;
    color: #fdf6e3;
}
.navText > a { color: #fdf6e3;}
.navText > a:hover { background-color: #fdf6e3; color: #657b83; }
.navLink::before { content: '' }
.navLink::after { content: '' }

p { font-size: 1rem; margin: 1rem 0px; }
a { color: #657b83; text-decoration: none; transition: 0.15s; }
a:hover { background-color: #657b83; color: #fdf6e3; text-decoration: none; }

h1,h2,h3,h4,h5 { font-size: 1rem; font-weight: bold; }
h6 { font-size: 1rem; font-weight: normal; font-style: italic; }
h1,h2,h3,h4 { margin: 1rem 0px; }
h5,h6 { margin: 1rem 0px 0px;}

h1::before { content: "█ "; }
h2::before { content: "▓▓ "; }
h3::before { content: "▒▒▒ "; }
h4::before { content: "░░░░ "; }

img {
    display: block;
    margin: 1rem auto;
    border-radius: 15px;
    max-height: 25em;
    max-width: 40em;
}

blockquote { 
    margin: 1rem 1em; 
    padding: 0px 1em; 
    font-style: italic;  
    border-left: 3px solid #dc322f; 
}

blockquote > p { margin: 0.5rem 0px; }

pre {
    font-family: inherit;
    font-size: 1rem;
    margin: 0.5rem 1em;
    padding: 10px 1em;
    background-color: #eee8d5;
    white-space: pre-wrap;
}

code { font-family: inherit; font-size: inherit; background-color: #eee8d5; }

.myname { color: #859900; }
.footer { display: flex; justify-content: space-between; }

li { height: fit-content; }
li > p { font-size: inherit; }
ul { margin: 1ch 0px; padding: 0px 0px 0px 2ch}
table { border-collapse: collapse; border: 1px dotted; }
td { padding: 0px 1ch; border: 1px dotted; }
th { text-align: left; padding: 0px 1ch; border: 1px dotted; }

a::before { content: '[['; }
a::after { content: ']]'; }

.artList {
    margin: 0em 0px;
}

hr { color: #657b83; width: 20em; margin: 2em auto; border-style: hidden; text-align: center;}
hr::before { content: '***'; }
