html {
    background-color: #24273a;
    color: #cad3f5;
    height: fit-content;
    font-family: sans-serif;
    padding: 10px;
    font-size: 18px;
}

body {
    max-width: 700px;
    margin: 0px auto;
}

a {
    color: #cad3f5;
}

a:hover {
    animation: rainbow 3s infinite;
}

@keyframes rainbow {
    0%{color: red;}
    20%{color: orange;}
    40%{color: yellow;}
    60%{color: lime;}
    80%{color: cyan;}
    100%{color: red;}
}

.no-space {
    margin: 0;
}