---
style: styles
---

{% include comment.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="top">
      <div class="topleft">
        {% include title.html %}
        {% include description.html %}
      </div>
      <div class="topright">
        {% include date.html %}
        {% include status.html %}
      </div>
    </div>
    <hr class="descriptionbar">
    <div class="mid">
      <div class="content">
  		{{ content }}
        {% include essays.html %}
      </div>
      <div class="midright">
        {% include notes.html %}
      </div>
    </div>
    <div class="footer">
      <p>found on <a href="https://spicata.99000000.xyz/">spicata.99000000.xyz</a>. no rights reserved.</p>
    </div>
  </body>
</html>
