---
layout: default
---

{{ content }}
<hr>
<h2>all pages</h2>
<p>(Joel Hooks 💀)</p>
{% assign abcs = site.pages | sort: 'cdate' | reverse %}
<ul>
{% if page.folder == "notes" %}
{% for abc in abcs %}
{% if abc.url contains "/notes/"%}
    <li>
        <p class="no-space">{% if abc.cdate %}{{ abc.cdate }}: {% endif %}<a href="{{ abc.url }}">{% if abc.title %}{{ abc.title }}{% else %}{{ abc.name }}{% endif %}</a></p>
    </li>
{% endif %}
{% endfor %}
{% elsif page.folder == "articles" %}
{% for abc in abcs %}
{% if abc.url contains "/articles/"%}
    <li>
        <p class="no-space">{% if abc.cdate %}{{ abc.cdate }}: {% endif %}<a href="{{ abc.url }}">{% if abc.title %}{{ abc.title }}{% else %}{{ abc.name }}{% endif %}</a></p>
    </li>
{% endif %}
{% endfor %}
{% endif %}
</ul>