<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/notes.css">
  </head>
    <article class="article">
      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% else %}
        <h1>{{ page.name }}</h1>
      {% endif %}
      {{ content }}
      <p class="footer"><span><span class="myname">M.spicata</span> {{ page.cdate}}</span><a href="/notes/">Go home?</a></p>
    </article>
  </body>
</html>
