<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta name="description" content="A plethora of notes written by a little guy called spicata mentha, with hopes that his page will on day appear on Google search (please index me Google).">
    <meta name="keywords" content="notes, mint fresh notes, 99000000, spicata">
    <meta name="author" content="spicata mentha">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/simple.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% if page.title %}
    <h1>{{ page.title }}</h1>
    {% else %}
    <h1>{{ page.name }}</h1>
    {% endif %}
    {{ content }}
    <p>found on <a href="https://spicata.99000000.xyz/">spicata.99000000.xyz</a>. no rights reserved.<br>published by <a href="https://www.99000000.xyz/">99 000 000.xyz</a>.</p>
  </body>
</html>
