<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/simple.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% if page.title %}
    <h1>{{ page.title }}</h1>
    {% else %}
    <h1>{{ page.name }}</h1>
    {% endif %}
    {{ content }}
    <p>found on <a href="https://spicata.990000000.xyz/">spicata.990000000.xyz</a>. no rights reserved.<br>published by <a href="https://www.99000000.xyz/">99 000 000.xyz</a>.</p>
  </body>
</html>
